@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background-color: #181818;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
}